mixin footer()
	+b.FOOTER.footer.section
		.container
			.row 
				+e.subscribe.d-flex.align-items-center.justify-content-center
					+e.H3.subscribe-offer Подпишитесь на рассылку, чтобы узнавать об акциях первым!
					+form-wrap
						+input("Email",'text')
						+e.btn.btn.btn-primary(type="submit") Подписаться
			
			.row.roww.d-flex.align-items-center
				+e.col.logo-col.col-auto
					+e.logo 
						+img('img/logo.svg')
				.col-lg-auto.col
					+b.catalog-block
						+e.toggle
							+e.gumburger
								span
							| Каталог
						ul.main-ul
							li.close-ul.d-lg-none.text-body 
								.catalog-block__gumburger.on
									span
							
								| Закрыть
							mixin item(i,t)
								li.has-children
									a(href="#")
										!=t
									//- .dropdown-menu-second
									ul
										li
											a.dropdown-item(href='catalog/plita/oblicovochnye-plity') Облицовочные плиты
										li
											a.dropdown-item(href='catalog/plita/plita-moshheniya') Плиты мощения
										li
											a.dropdown-item(href='catalog/taktilnye-plity') Тактильные плиты
							+item(1,`Облицовочные плиты`)
							+item(2,`Плиты мощения`)
							+item(3,`Брусчатка`)
							+item(4,`Ступени`)
							+item(5,`Бордюры`)
							+item(6,`Пандусы`)
							+item(7,`Архитектурные изделия`)
				.col-lg.order-lg-0.order-last.menu-col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+mnu()
				+e.col.beware-col.col-auto
					+e.beware.d-flex.align-items-center
						+img('img/beware.svg')
						span Остерегайтесь подделок
			
			.row
				.col-12
				+e.col.col-5
					+e.left
						+e.phone(href="tel:+7 (495) 642-70-97") +7 (495) 642-70-97
						+e.phone-btn(href="#") Заказать звонок
						+e.text Ежедневно, с 09:00 до 21:00
						+e.offer Бизнес-центр «Тушино»
						+e.text Походный проезд, д. 4, корп. 1, офис 412, 4-й этаж
						+e.text Копирайт: 2020 — 2023г. «Riva – фабрика офисной мебели» ©
				+e.col.col-6.offset-1
					+e.right.d-flex.flex-column.float-right.justify-content-between
						+e.navs.d-flex
							+e.UL.nav 
								+e.LI.nav-item
									a(href="#") Контакты
								+e.LI.nav-item
									a(href="#") О компании
								+e.LI.nav-item
									a(href="#") Доставка
								+e.LI.nav-item
									a(href="#") Оплата
								+e.LI.nav-item
									a(href="#") Возврат товара
								+e.LI.nav-item
									a(href="#") Гарантия
							+e.UL.nav 
								+e.LI.nav-item
									a(href="#") Блог
								+e.LI.nav-item
									a(href="#") Отзывы
								+e.LI.nav-item
									a(href="#") Акции и скидки
								+e.LI.nav-item
									a(href="#") Рассрочка и кредит
								+e.LI.nav-item
									a(href="#") Новые поступления
								+e.LI.nav-item
									a(href="#") Бренды
							+e.UL.nav 
								+e.LI.nav-item
									a(href="#") Как заказать
								+e.LI.nav-item
									a(href="#") Дизайнерам 
								+e.LI.nav-item
									a(href="#") Оптовикам
								+e.LI.nav-item
									a(href="#") Корпоративным клиентам
								+e.LI.nav-item
									a(href="#") Политика конфиденциальности
								+e.LI.nav-item
									a(href="#") Публичная оферта
						+e.bottom
							+e.bottom-item.d-flex.align-items-center
								+e.bottom-item-offer Давайте дружить
								+e.UL.social-ul.d-flex
									mixin social(h, i)
										+e.LI.social-li 
											a(href=h)
												+img(`img/${i}.svg`) 
									+social('#', 'vk')
									+social('#', 'ok')
									+social('#', 'pinterest')
									+social('#', 'fb')
									+social('#', 'telegram')
									+social('#', `whatsapp`)
							+e.bottom-item.d-flex.align-items-center
								+e.bottom-item-offer Принимаем к оплате
								+e.UL.payment-ul.d-flex 
									mixin payment(h, i)
										+e.LI.payment-li 
											a(href=h)
												+img(`img/${i}.svg`)  
									+payment('#', 'visa')
									+payment('#', 'mastercard')
									+payment('#', 'maestro')
									+payment('#', 'mir')
									+payment('#', 'wallet')
									+payment('#', 'webmoney')
									+payment('#', 'qiwi')