// start .sRews
.sRews {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(30)};

	}
	.section-title{
		
	}
	&__col{
			&:nth-child(3) .sRews__item-text::after {
				content: '';
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: linear-gradient(0deg, white 10%, rgba(255, 255, 255, 0) 100%);
				display: block;
			}

	}
	&__item{
		&.hidden {
			@include media-breakpoint-up(lg) {
				.sRews__item-text::after {
					content: '';
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: linear-gradient(0deg, white 10%, rgba(255, 255, 255, 0) 100%);
					display: block;
				}
			}
		}
	}
	&__item-title {
		font-size: rem(16);
		line-height: 150%;
		font-weight: $font-weight-semibold;
	}
	&__item-sub {
		display: flex;
		align-items: flex-end;
		margin-bottom: rem(18);
	}
	&__item-stars {
		display: flex;
		margin-bottom: 0;
	}
	&__item-star {
		list-style: none;
		margin-right: rem(6.3);
		color: $yellow;
		svg {
			font-size: rem(14.16);
		}
	}
	&__item-date {
		color: $secondary;
		font-size: rem(12);
		font-weight: $font-weight-semibold;
		line-height: 150%;
		margin-left: rem(8);
	}
	&__item-text {
		font-size: rem(14);
		line-height: 150%;
		position: relative;
	}
	&__btn {
		// text-align: center;
		// border: 1px solid #E8E8E9;
		// border-radius: $border-radius;
		// color: $dark;
		// font-size: rem(14);
		// font-weight: $font-weight-semibold;
		// line-height: 150%;
		// padding: rem(12) 0;
		// @include mt;
		position: relative;
		z-index: 2;
		display: block;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(410);
		@include media-breakpoint-up(lg) {
			margin-top: rem(-50);
		} 
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sRews