mixin sRews(data)
	// start sRews
	+b.SECTION.sRews.section#sRews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Отзывы наших клиентов в интернете
				
			+e.row.row
				mixin item(t, d, b)
					+e.col.col-lg-4.col-md-6.col-12
						+e.item.hidden
							+e.item-title!= t
							+e.item-sub
								+e.item-stars 
									+e.item-star
										+icon('star')
									+e.item-star
										+icon('star')
									+e.item-star
										+icon('star')
									+e.item-star
										+icon('star')
									+e.item-star
										+icon('star')
								+e.item-date!= d
							+e.item-text!= b
				+item(`Маргарита Славинская`,`8 декабря 2021`,`Отличная фабрика мебели! Сроки всегда минимальные, качество мебели на&nbsp;высоте, цены очень приемлемые! Есть мебель как для офиса, так и&nbsp;для дома. Большая линейка кресел на&nbsp;любой вкус, цвет и&nbsp;кошелёк. Позитивная и&nbsp;понимающая команда, начиная от&nbsp;ген. директора Яниса Николаевича и&nbsp;заканчивая водителями. Знаю данную компанию почти с&nbsp;самого основания (2016года),ни разу не&nbsp;подводил за&nbsp;всё это время.`)
				+item(`Тими А`,`3 июня 2023`,`Отличная цена, качество и&nbsp;внешний вид всей офисной мебели так&nbsp;же на&nbsp;высоте. Никаких проблем с&nbsp;отгрузкой, поэтому безусловно пять звёзд.`)
				+item(`Администрация lime-office`,`13 декабря 2022`,`Работаем с&nbsp;данной фабрикой уже 7&nbsp;лет. Спасибо ребятам за&nbsp;качественную и&nbsp;быструю работу. Своевременное решение любых проблем. За&nbsp;подробную информацию для выкладки товаров на&nbsp;сайт, что очень важно для продажи конечному клиенту! Так держать!!!`)

			+e.A.btn.btn.btn-outline-light(href="#") Показать ещё
	// end sRews