mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-12 
					+e.img.bg-wrap
						+img(`img/form.jpg`,'bg').picture-bg
				+e.col.col-12 
					+e.content.justify-content-between 
						+e.content-left
							+e.H3.offer Мы&nbsp;готовы разработать бесплатный эскиз растановки мебели или платный дизайн проект оформления офиса
							+e.P.desc Наши специлисты подберут все необходимые материалы, мебель и&nbsp;комплектующие. Вам останется только заехать и&nbsp;начать работать в&nbsp;новом офисе.
						+form-wrap
							+input("Имя")
							+input("+7 (___) ___-__-__",'tel')
							+input("Ваше сообщение",'textarea')
							+e.btn.btn.btn-primary(type="submit") Отправить
							+e.policy Нажимая на кнопку, вы подтверждаете свое согласие на 
								a(href="#") обработку персональных данных
	// end sForm