
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data Обратный звонок
					p.after-headline Укажите контактный контактный телефон, и&nbsp;мы&nbsp;перезвоним вам в&nbsp;ближайшее время

				+input("+7(___)___-__-__",'tel')(required)
				+input("Ваше Имя")
				+e.BUTTON.btn.btn.btn-primary(type="submit"  ).w-100  Отправить
				+policy()
	// #modal-call
	
	div(id="modal-fast-order"  style="display: none" )
		+b.modal-win--fast-order
			+form-wrap 
				+e.title.form-data Оформление быстрого заказа
				p.after-headline Оставьте свои контактные данные и&nbsp;наш менеджер перезвонит вам в&nbsp;рабочее время и&nbsp;уточнит все детали
				+b.prod-line.row
					.col-auto
						+e.img-wrap
							.img-wrap-center
								+img("img/sProductCard-img-1.png")
					.col
						+e.title Кресло Riva Chair A9184
						p Артикул:  SK.SRT-200 (R)
						.row
							.col
								+e.price.text-primary 41 900 ₽ 
								
								+e.price-old 
									span 60 900
									| ₽
							.col-sm-auto
								+addblock()
				.row
					.col-sm-6
						+input("+7(___)___-__-__",'tel')(required)
					.col-sm-6
						+e.BUTTON.btn.btn.btn-primary(type="submit"  ).w-100  Оформить заказ
				//- +policy()
	// #modal-fast-order
	
	// end modals