mixin sOurProjects(data)
	// start sOurProjects
	+b.SECTION.sOurProjects.section#sOurProjects&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sOurProjects
				
			+e.row.row
	// end sOurProjects