// start .sOurProjects
.sOurProjects {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__slider-wrapper {
		position: relative;
	} 
	&__col{

	}
	&__item{

	}
	 
	.swiper-button-hand{
		bottom: auto;
		top: calc(var(--project-card-h) * 1px / 2 - var(--swiperArrowSize) / 2 );
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sOurProjects