// start .sOurProjects
.sOurProjects {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__slider-wrapper {
		position: relative;
	}
	&__arrows {
		.swiper-button-prev {
			margin-left: rem(-40px);
			&::after {
				left: 47%;
			}
		}
		.swiper-button-next {
			margin-right: rem(-40px);
			&::after {
				left: 53%;
			}
		}
		div {
			background: $white;
			border-radius: 100%;
			filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.06)) drop-shadow(0px 4px 6px rgba(192, 192, 192, 0.10));
			width: rem(50);
			height: rem(50);
			@include media-breakpoint-up(md) {
				width: rem(60);
				height: rem(60);
			}
			&::after {
				color: $primary;
				font-size: rem(32);
				z-index: 1;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				@include mt;
			}
		}
		.swiper-button-disabled {
			opacity: 1;
			&::after {
				font-size: rem(24);
				color: $secondary;
			}
		}
	}
	&__col{

	}
	&__item{

	}
	&__title {
		font-weight: $font-weight-semibold;
		font-size: rem(14);
		line-height: 150%;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sOurProjects