mixin sOurProjects(data)
	// start sOurProjects
	+b.SECTION.sOurProjects.section#sOurProjects&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Наши проекты 
			+e.slider-wrapper
				+e.slider--js.default-slider.swiper
					.swiper-wrapper
						-for(let i = 0; i<2; i++) 
							+e.slide.swiper-slide
								+project('Объединённая компания по переработке молока FUDUNION– буйство красок', 'img/projects-1.jpg', 'img/projects-2.jpg', 'img/projects-3.jpg')
							+e.slide.swiper-slide
								+project('Частная клиника - кабинет главврача', 'img/projects-2.jpg', 'img/projects-3.jpg', 'img/projects-1.jpg')
							+e.slide.swiper-slide
								+project('Компания «Меркатор»','img/projects-3.jpg', 'img/projects-1.jpg', 'img/projects-2.jpg')
				+arrow
	// end sOurProjects