// start .sNews
.sNews {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(30)};

	}
	.section-title{
		
	}
	&__col{

	}
	&__big {
		border-radius: $border-radius;
		overflow: hidden;
		display: flex;
		flex-direction: column-reverse;
		height: 100%;
		&:hover {
			.sNews__big-offer {
				color: $primary;
			}
		}
		@include media-breakpoint-up(md) {
			min-height: rem(300);
		}
		@include media-breakpoint-up(sm) {
			flex-direction: row;
		}
		min-height: rem(200);
	}
	&__big-left {
		background: $dark;
		color: white;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-left: rem(22);
		padding-right: rem(20);
		font-weight: $font-weight-semibold;
		padding-top: rem(10);
		padding-bottom: rem(10);
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: 45%;
		}
		@include media-breakpoint-up(xl) {
			width: 40%;
		}
		@include media-breakpoint-up(sm) {
			padding: rem(20) rem(30) rem(20) rem(32);
			width: 40%;
		}
	}
	&__big-offer {
		margin-bottom: rem(10);
		font-size: rem(17);
		line-height: 150%;
		@include mt;
		@include media-breakpoint-up(sm) {
			font-size: rem(20);
		}
	}
	&__big-date {
		color: $secondary;
		font-size: rem(12);
		line-height: 150%;
	}
	&__big-img {
		min-height: rem(150);
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: 55%;
		}
		@include media-breakpoint-up(xl) {
			width: 60%;
		}
		@include media-breakpoint-up(sm) {
			width: 60%;
		}
	}
	&__item{
		&:hover {
			.sNews__title {
				color: $primary;
			}
		}
	}
	&__item-img {
		border-radius: $border-radius;
		overflow: hidden;
		margin-bottom: rem(10);
		@include media-breakpoint-up(md) {
			min-height: rem(300);
		}
		min-height: rem(150);
	}
	&__title {
		margin: rem(10);
		color: $dark;
		font-weight: $font-weight-semibold;
		font-size: rem(16);
		line-height: 150%;
		@include mt;
	}
	&__date {
		margin: 0 rem(10);
		line-height: 150%;
		font-size: rem(12);
		color: $secondary;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sNews