@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-right {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-beware {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-dropdown-arrow {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-fb {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-logo {
	--h: 47;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(111 / var(--h) *1em );
}
.icon-maestro {
	--h: 22;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(36 / var(--h) *1em );
}
.icon-mail {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-marker {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-mastercard {
	--h: 22;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(35 / var(--h) *1em );
}
.icon-mir {
	--h: 12;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(40 / var(--h) *1em );
}
.icon-ok {
	--h: 30;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-phone {
	--h: 18;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(18 / var(--h) *1em );
}
.icon-phone_copy {
	--h: 18;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(18 / var(--h) *1em );
}
.icon-pinterest {
	--h: 30;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-qiwi {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-route {
	--h: 18;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(18 / var(--h) *1em );
}
.icon-search {
	--h: 28;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(28 / var(--h) *1em );
}
.icon-telegram {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-telegram2 {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-time {
	--h: 18;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(18 / var(--h) *1em );
}
.icon-visa {
	--h: 14;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(46 / var(--h) *1em );
}
.icon-vk {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-wallet {
	--h: 20;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(22 / var(--h) *1em );
}
.icon-webmoney {
	--h: 23;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-whatsapp {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-whatsapp2 {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
