@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-bar {
	--h: 28;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(28 / var(--h) *1em );
}
.icon-basket {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(22 / var(--h) *1em );
}
.icon-cart {
	--h: 28;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(28 / var(--h) *1em );
}
.icon-check {
	--h: 12;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(12 / var(--h) *1em );
}
.icon-chevron-left {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-chevron-right {
	--h: 32;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(32 / var(--h) *1em );
}
.icon-fb {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-heart {
	--h: 28;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(28 / var(--h) *1em );
}
.icon-instagram {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-logo {
	--h: 47;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(111 / var(--h) *1em );
}
.icon-mail {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-marker {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.icon-ok {
	--h: 30;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-pinterest {
	--h: 30;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-rateStar {
	--h: 13;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(15 / var(--h) *1em );
}
.icon-star {
	--h: 14;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(14 / var(--h) *1em );
}
.icon-stats {
	--h: 28;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(28 / var(--h) *1em );
}
.icon-telegram {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-user {
	--h: 28;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(28 / var(--h) *1em );
}
.icon-viber {
	--h: 16;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(16 / var(--h) *1em );
}
.icon-vk {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
.icon-whatsapp {
	--h: 31;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(31 / var(--h) *1em );
}
