mixin sCategories(data)
	// start sCategories
	+b.SECTION.sCategories.section#sCategories&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Популярные категории
			//- +icon("user")
			+e.row.row
				mixin item(i,t)
					+e.col.col-xl-2.col-lg-3.col-md-4.col-6 
						+e.item(href="#").bg-wrap
							+img(`img/categories-${i}.jpg`,'bg').picture-bg
							+e.title!= t
				+item(`1`,`Столы для руководителя`)
				+item(`2`,`Кабинеты руководителя`)
				+item(`3`,`Офисные кресла`)
				+item(`4`,`Письменные столы`)
				+item(`5`,`Стулья`)
				+item(`6`,`Диваны`)
				+item(`7`,`Шкафы`)
				+item(`8`,`Компьютерные столы`)
				+item(`9`,`Переговорные зоны`)
				+item(`10`,`Приемные зоны`)
				+item(`11`,`Колл-центр`)
				+item(`12`,`Все товары`)
	// end sCategories

	