mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Офисная мебель Riva

			+e.slider-wrapper
				+e.slider--js.swiper
					.swiper-wrapper
						mixin slide(i, t)
							.swiper-slide
								+e.item.bg-wrap
									+img(`img/headerBlock-${i}.jpg`,'bg').picture-bg
									+e.row.row 
										+e.col.offset-1.col-5.col-md-3
											+e.H2.offer!= t
											+e.A.btn.btn-primary.btn(href="#") В каталог
						+slide(`1`,`Кабинеты руководителя`)
						+slide(`1`,`Кабинеты руководителя`)
				+arrow
				.swiper-pagination
						
	// end headerBlock