extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sOurProjects/_sOurProjects.pug
include ../blocks/sRews/_sRews.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/catalogFilter/_catalogFilter.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Каталог'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Офисная мебель Riva','Каталог')
		.container
			.row
				.col-xxl-2.col-lg-3 
					+catalogFilter
				.col-xxl-10.col-lg-9
					+sCatalog2
					+tags
	+parts('footer')
      



