extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sOurProjects/_sOurProjects.pug
include ../blocks/sRews/_sRews.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sFaq/_sFaq.pug
include ../blocks/sProductExamples/_sProductExamples.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Карточка товара'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Переговорные зоны Metal System','Каталог', 'Переговорные зоны Metal System')
		+sProdCard2
		+sProductExamples('Столы')
		+sProductExamples('Сборные элементы')
		+sProductExamples('Похожие товары')
		+sProductExamples('Вы смотрели')
		+tags
		+sForm()
	+parts('footer')
      



