mixin product-item(i, t, p ,pr)
	+b.ARTICLE.product-item
		+e.img-wrap(href="#")
			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
			.img-wrap-center 
				+img(`img/prod-${i}.jpg`)
		+e.caption
			+e.title!= t
			+e.text!= p
			+e.price!= pr
			+e.btn(href='#')
	// /.product-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.top.section-title.text-center
				+e.UL.top-tabs 
					+e.LI.top-tab.active 
						h2 Скидки
					+e.LI.top-tab 
						h2 Новинки
					+e.LI.top-tab 
						h2 В наличии
				+e.UL.bottom-tabs 
					+e.LI.bottom-tab.active Все
					+e.LI.bottom-tab Офисная мебель для персонала
					+e.LI.bottom-tab Мебель в кабинет руководителя
					+e.LI.bottom-tab Домашний офис
					+e.LI.bottom-tab Столы для переговоров
					+e.LI.bottom-tab еще

			+e.row.row
				- const wrapClass="col-3"
				+e.col(class= wrapClass)
					+product-item(`1`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`2`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`3`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`4`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`5`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`6`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`7`,``,``,``) 
				+e.col(class= wrapClass)
					+product-item(`8`,``,``,``) 

	// end sCatalog