// start .sCatalog
.sCatalog {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: 40px;

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	&__top-tabs {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		list-style: none;
		justify-content: center;
		margin-bottom: rem(13);
	}
	&__top-tab {
		margin: 0 rem(16);
		cursor: pointer;
		&.active, &:hover {
			h2 {
				color: $dark;
			}
		}
		h2 {
			@include mt;
			color: $secondary;
		}
	}
	&__bottom-tabs {
		// display: inline-block;
		list-style: none;
		
		// }
	}

	&__bottom-tab{
		display: inline-block;
	}
	&__bottom-tab a, .p-plus__toggle-btn {
		&.active, &:hover {
			background: $dark;
			color: white;
		}
		border-radius: $border-radius;
		padding: rem(7) rem(12);
		cursor: pointer;
		color: $secondary;
		font-weight: $font-weight-semibold;
		font-size: rem(14);
		line-height: 150%;
		margin: 0 rem(4);
		@include mt;
		background: none;
		outline: none;
		border: none;
	}
	.p-plus__toggle-btn{
		color: $body-color;
	}

	&__sort-wrap{
		.form-select{
			--bs-border-color: #F3F3F4;
			--bs-form-control-bg: #F3F3F4;
		}	
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog



.product-item{
	display: flex;
	flex-direction: column;
	min-height: 100%;  
	position: relative;
	font-weight: 600;
	@include media-breakpoint-up(xxl) {

	}
	padding: 10px;
	.row{
		align-items: center;
		--bs-gutter-x: 12px;
	}
	&__price{ 
		font-size: rem(20);
		font-style: normal;
		font-weight: 600;
		&--old{
			color: var(--a-1-a-2-a-6, #A1A2A6);  
			font-size: 1rem;
			position: relative;
			&::after{
				content: '';
				width: 100%;
				height: 1px;
				left: 0;
				background-color: var(--bs-primary);
				@include a-cent1(y);
			}
		}
	}
	&__text{
		font-size: 12px;
		line-height: 1.5;
		color: var(--a-1-a-2-a-6, #A1A2A6);
		margin-bottom: 4px;
	}
	&__title{
		font-size: 14px;
		margin-bottom: rem(18);
		a:not(:hover){
			color: var(--131721, #131721);
		}
	}
	&__img-wrap{
		// @include block(298, 190);
	}
	&__caption{
		flex-grow: 1;
		display: flex;
		flex-direction: column; 
	}
	&__footer{
		margin-top: auto;
		.row{
			--bs-gutter-y: 10px;
		}
	}	
	&__status{
		font-size: 12px;
		color: var(--a-1-a-2-a-6, #A1A2A6);
		display: flex;
		align-items: center;
		line-height: 1.2;
		.icon{
			color: #67c15f;
			fill: none;
			stroke: currentColor;
			margin-right: 6px;
			position: relative;
			top: em(-1);
		}
	}
	&__btn{
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 150px;
		width: 100%;
		padding-top: 2px;
		padding-bottom: 2px;
		height: 44px;
		.icon{
			fill: none;
			@include mt;
			stroke:  var(--bs-primary);
			font-size: 24px;
			margin-right: 6px;
		}
		&:hover,
		&:active,
		&.active{
			.icon{
				stroke: #fff;
			}
		}
	}
	position: relative;
	&__list{
		background-color: #fff;
		@include media-breakpoint-up(md) {

			position: absolute;
			top: 100%;
			left: 0;
			visibility: var(--op, hidden);
			opacity: var(--op,0);
			@include mt(.1s);
		}
		z-index: 120;
		width: 100%;
		// @include media-breakpoint-up(xxl) {
		// }
		// padding: 20px 0;
		padding: 20px 10px;
	}
	table{
		width: 100%;
	}
	th{
		color: var(--a-1-a-2-a-6, #A1A2A6);
		font-size: 12px;
	}
	td{
		font-size: 14px;
		
	}

	&::before{
		z-index: -1;
		content: '';
		width: calc(100% );
		left: 0;
		top: 0;
		@include media-breakpoint-up(md) {

			height: calc(100% + 20px + 75px);
			@include mt(.1s);
			width: calc(100% + 20px);
			// opacity: 0;
			left: -10px;
			top: -10px;
			visibility: var(--op, hidden);
				opacity: var(--op,0);
		}
		height: calc(100% );
		background-color: #fff;
		position: absolute;
		box-shadow: 0px 4px 20px 0px rgba(150, 159, 168, 0.16);
		border-radius: 6px;
	} 
	z-index: 2;
	&:hover{
		z-index: 100;
		--op: 1; 
	}
	.card-slider__img-wrap{
		--ratio: 1;
	}
	&__img-wrap--eskiz{
		border-radius: 6px;
		border: 1px solid #E8E8E9;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1;
		text-align: center;
		p{
			max-width: 80%;
			color: $body-color;
		}
		.icon2{
			margin-bottom: 7px;
			font-size: 46px;
		}
	}
}

.p-plus__overflow{
	// width: rem(200);
	background: #FFFFFF;
	border: 1px solid #DBE4EC; 
	box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);

	border-radius: 5px;
	// margin-top: 10px;
	top: rem(40);
	right: 0;
	z-index: 200;
	transform-origin: 0 0;
	// @include mt;
	// --s: 1s;
	&:not([aria-hidden="false"]) {
		opacity: 0;
		// display: none;
		
	}
	@media (max-width: 400px) {
		right: -40px;
	}
	&::before {

		content: '';
		width: 15px;
		height: 15px;
		position: absolute;
		right: 5px;
		top: -5px;
		transform: rotate(45deg);
		background: #FFFFFF;
		// pointer-events: none;
		border: 1px solid #DBE4EC;   
		@media (max-width: 400px) {
			display: none;
		}
	}
	// &::before{ 
	// 	// width: 17px;
	// 	// height: 17px;
	// 	z-index: -1;
	// }
	.sCatalog__bottom-tab{
		margin: 0;
	}
	.sCatalog__bottom-tab{
		a{

			border-radius: 0;
		}
		&:first-child a{
			border-radius: 5px 5px 0 0;
			// background-color: #fff;
		}
		
		&:last-child a{
			border-radius: 0 0 5px 5px;

		}
		&:not(:last-child) a{
			
			border-bottom: 1px solid #DBE4EC;
		}
	}
	.sCatalog__bottom-tab a{
		position: relative;
		z-index: 20;
		margin: 0;
		background-color: #fff; 
		font-weight: 600;
		padding: rem(13) rem(14);
		color: $body-color;
		display: block;
		&:hover{
			color: #fff;
			background-color: $dark;
		}
	}

	s{
			z-index: 4;
		position: relative;
		list-style: none;
		margin: 0;
		
	}
	
}

.p-plus__toggle-btn{
	margin-left: auto;
}

	.p-plus{
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	.p-plus__primary-wrapper{
		flex-grow: 0;
	}
	.p-plus__primary-nav-item{
		display: block;
	}
	.p-plus-container{
		z-index: 200;
	}