mixin product-item(i,t, p ,pr, badge)
	+b.ARTICLE.product-item
		+e.img-wrap(href="#")
			if badge
				+b.prod-tags
					.badge.bg-primary -15%
					.badge.custom-badge Новинка
					.badge.custom-badge Популярный
			+b.card-slider
				+e.DIV.img-slider.swiper.slider-card-js
					.swiper-wrapper
						+e.DIV.slide.swiper-slide
							+e.img-wrap
								.img-wrap-center
									+img(`img/prod-${i}.jpg`).res-i
						- for (var x =2; x < 5; x++)
							+e.DIV.slide.swiper-slide
								+e.img-wrap
									.img-wrap-center
										+img(`img/prod-${x+1}.jpg`)
				.swiper-pagination
		+e.caption
			.row
				+e.price.col-auto 12 000 ₽
				.col-auto
					+e.price--old 12 000 ₽
			+e.text
				| Код:  SK.SRT-200 (R)
				br
				| Мебель в кабинет руководителя
			+e.title
				a(href="#")  Стол руководителя с опорной тумбой, правый
			+e.footer
				.row
					if block
						block
					else
						.col-auto
							+e.btn(type="button").btn.btn-outline-primary
								+icon("cart")
								| В корзину
						+e.status.col
							+icon("check")
							| В&nbsp;наличии ~ 11&nbsp;шт.
			+e.list
				table
					tr
						th Длина

						th Ширина

						th Высота
						th Материал
					tr
						td 180 см
						td 90 см
						td  75 см
						td ЛДСП
	// /.product-item
mixin cataloglist()
	+e.UL.bottom-tabs
		+e.LI.bottom-tab: a(href="#").active   Все
		+e.LI.bottom-tab: a(href="#")  Офисная мебель для персонала
		+e.LI.bottom-tab: a(href="#")  Мебель в кабинет руководителя
		+e.LI.bottom-tab: a(href="#")  Домашний офис
		+e.LI.bottom-tab: a(href="#")  Столы для переговоров
		+e.LI.bottom-tab: a(href="#")  Столы для переговоров
		+e.LI.bottom-tab: a(href="#")  Столы для переговоров
		+e.LI.bottom-tab: a(href="#")  Столы для переговоров
		+e.LI.bottom-tab: a(href="#")  Столы для переговоров
mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.top.section-title.text-center
				+e.UL.top-tabs.d-flex
					+e.LI.top-tab.active 
						h2 Скидки
					+e.LI.top-tab 
						h2 Новинки
					+e.LI.top-tab 
						h2 В наличии
				+e.NAV.bottom-tabs-wrapper
					+cataloglist()
			+e.row.row
				- const wrapClass="col-xl-3 col-lg-4 col-sm-6"
				+e.col(class= wrapClass)
					+product-item(`1`,``,``,``, 'badge')
				+e.col(class= wrapClass)
					+product-item(`2`,``,``,``)
						.col-auto
							+addblock()
						+e.status.col
							+icon("check")
							| В&nbsp;наличии ~ 11&nbsp;шт.
				+e.col(class= wrapClass)
					+product-item(`3`,``,``,`badge`)
				+e.col(class= wrapClass)
					+product-item(`4`,``,``,``)
				+e.col(class= wrapClass)
					+product-item(`5`,``,``,``)
				+e.col(class= wrapClass)
					+product-item(`6`,``,``,``)
				+e.col(class= wrapClass)
					+product-item(`7`,``,``,``)
				+e.col(class= wrapClass)
					+product-item(`8`,``,``,``)
						.col-auto
							+e.btn(type="button").btn.btn-outline-primary
								+icon("cart")
								| В корзину
						+e.status.col Нет в наличии
			a.btn.btn-outline-light(href="#").w-100.mt-4 Показать ещё
			a.btn.btn-link.text-light(href="#").w-100.mt-2 Все товары со скидкой
	// end sCatalog
	
mixin sCatalog2(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.top.section-title.text-center
				+cataloglist()
			
			+e.sort-wrap.row.gy-3.mb-4
				.col-sm
					label.row.d-md-inline-flex.align-items-center
						span.col-md-auto.fw-600 Сортировать:
						span.col-md-auto
							select.form-select
								option По популярности
								option По популярности
								option По популярности
								option По популярности
				.col-md-auto.col-sm-4.col-12
					label.row.align-items-center.d-md-inline-flex
						span.col-md-auto.fw-600 Показать по:
						span.col-md-auto
							select.form-select
								option 20
								option 50
								option 100
								option 200

			+e.row.row
				- const wrapClass="col-xl-3 col-lg-4 col-sm-6"
				+e.col(class= wrapClass)
					+product-item(`1`,``,``,`badge`)
				+e.col(class= wrapClass)
					+product-item(`2`,``,``,``)
						.col-auto
							+addblock()
						+e.status.col
							+icon("check")
							| В&nbsp;наличии ~ 11&nbsp;шт.
				+e.col(class= wrapClass)
					+product-item(`3`,``,``,``)
				+e.col(class= wrapClass)
					+b.ARTICLE.product-item
						+e.img-wrap(href="#").--eskiz
							+icon2('moveCopyObjects')
							p Разработаем <span class="text-primary">бесплатный</span>  эскиз растановки мебели
							
						+e.caption
							.row
								+e.price.col-auto 0 ₽
							+e.text
								| Код:  SK.SRT-200 (R)
								br
								| Услуги
							+e.title
								a(href="#") Эскиз растановки мебели
							+e.footer
								.row 
									.col-auto
										+e.btn(type="button").btn.btn-outline-primary
											+icon("cart")
											| В корзину
									+e.status.col
										+icon("check")
										| В&nbsp;наличии ~ 11&nbsp;шт.
				.col-12
					.alert.alert-primary.h4.text-center 
						+icon2("fastDelivery").me-2
						| Бесплатная доставка по Москве со склада
				+e.col(class= wrapClass)
					+product-item(`5`,``,``,``)
				+e.col(class= wrapClass)
					+product-item(`6`,``,``,``)
				+e.col(class= wrapClass)
					+product-item(`7`,``,``,``)
				+e.col(class= wrapClass)
					+product-item(`8`,``,``,``)
						.col-auto
							+e.btn(type="button").btn.btn-outline-primary
								+icon("cart")
								| В корзину
						+e.status.col Нет в наличии
			a.btn.btn-outline-light(href="#").w-100.mt-4 Показать ещё
			+pugin()
	// end sCatalog
mixin sCatalog3(title)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title
				h2!= title
			+e.row.row
				.col-xl-3.col-lg-4.col-sm-6
					+product-item(`8`,``,``,``)
				.col-xl-3.col-lg-4.col-sm-6
					+product-item(`8`,``,``,``)
				.col-xl-3.col-lg-4.col-sm-6
					+product-item(`8`,``,``,``)
				.col-xl-3.col-lg-4.col-sm-6
					+product-item(`8`,``,``,``)
						.col-auto
							+e.btn(type="button").btn.btn-outline-primary
								+icon("cart")
								| В корзину
						+e.status.col Нет в наличии
	// end sCatalog
