mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+e.row.row.align-items-center
				.col-auto.col-lg.d-none.d-sm-flex
					+e.items.d-flex.align-items-center
						+e.item.d-flex.align-items-center 
							+img('img/marker.svg')
							+e.item-text Москва, Бизнес-центр «Тушино» Походный проезд, д. 4, корп. 1, офис 412, 4-й этаж
						+e.item.d-flex.align-items-center 
							+img('img/mail.svg')
							+e.item-text info@riva.ru
				.col-auto.d-none.d-lg-flex
					+e.top-right.d-flex.align-items-center
						+e.UL.top-social.d-flex 
							+item-sos('telegram')
							+item-sos('whatsapp')
						+e(href="tel:+7 (495) 642-70-97").phone +7 (495) 642-70-97
						+e(href="#").btn Заказать звонок
			+e.bottom.row
				+e(href="#").logo.col-lg-auto.col
					+img('img/logo.svg')
				+form-wrap.col-lg.order-lg-0.order-first
					+input("Поиск товаров", 'text')
					+e.btn.btn(type="submit")
						+img('img/search.svg')
				+e.dropdown.col-auto.d-flex
					+e.dropdown-current.d-flex.align-items-center
						span О компании
						+img('img/dropdown-arrow.svg')
				+e.controls.col-auto.d-flex.align-items-center
					mixin item(t, i, c)
						+e(href="#").controls-item.text-center.d-inline-block
							+icon(i)
							div!= t
							span!= c
					+item('Кабинет', `user`)
					+item('Сравнение', `stats`, 0)
					+item('Избранное', `heart`, 0)
					+item('Корзина', `cart`, 0)
	// end topLine