
	// start .topLine
	.topLine {
		 
		--sPT: #{rem(10)};
		--sPB: #{rem(10)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	&__col{

	}
	&__item{

	}

	&__items {}
	&__item {
		margin-right: rem(10);
		&:last-child {
			margin-right: 0;
		}
		@include media-breakpoint-up(xl) {
			margin-right: rem(32);
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__item-text {
		color: $secondary;
		margin-left: rem(9);
		font-size: rem(14);
		font-weight: $font-weight-semibold;
		line-height: 150%;
	}
	&__top-right {
		float: right;
	}
	&__top-social {
		margin-bottom: 0;
		.icon2 {
			font-size: rem(20);
		}
		.soc {
			margin-right: rem(5);
		}
		.soc__item {
			list-style: none;
			padding: 0 rem(3.5);
		}
	}
	&__phone {
		margin-left: rem(4);
		color: $body-color;
		font-size: rem(16);
		font-weight: $font-weight-semibold;
		line-height: 150%;
		margin-right: rem(19);
	}
	&__btn {
		font-size: rem(14);
		color: $body-color;
		font-weight: $font-weight-semibold;
		line-height: 150%;
		padding: rem(7) rem(18);
		border-radius: $border-radius;
		border: 1px solid $primary;
		@include mt;
		&:hover {
			background: $primary;
			color: $white;
		}
	}
	&__center {
		@include roww(30px);
		margin-top: rem(21);
	}
	&__bottom {
		margin-top: rem(21);
		--bs-gutter-y: 10px;
		@include media-breakpoint-up(sm) {
			--bs-gutter-y: 0px;
		}
	}
	&__logo {
		// margin-right: rem(31);

		.icon2 {
			font-size: rem(111);
			height: rem(46.7);
		}
	}
	.form-wrap {
		flex-grow: 1;
		margin-bottom: 20px;
		margin-top: rem(5);
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
		@include media-breakpoint-up(sm) {
			margin-top: 0;
		}
		form {
			width: 100%;
			position: relative;
		}
	}
	.form-wrap__input-wrap {
		flex-grow: 1;
	}
	.form-wrap__input {
		border: none;
		background: #F3F3F4;
		outline: none;
		font-weight: $font-weight-semibold;
		font-size: rem(14);
		line-height: 150%;
		border-radius: $border-radius;
		&::placeholder {
			color: $secondary;
		}
	}
	.form-wrap__btn {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		.icon2 {
			font-size: rem(28);
		}
	}
	&__dropdown {
		// margin: 0;
		@include media-breakpoint-up(xl) {
			margin: 0 rem(33) 0 rem(10);
		}
	}
	.dropdown-current {
		color: $primary;
		font-size: rem(16);
		line-height: 150%;
		font-weight: $font-weight-semibold;
	}
	&__controls {
	}
	&__controls-item {
		position: relative;
		margin-left: rem(15);
		color: $body-color;
		@include mt;
		@include media-breakpoint-up(md) {
			margin-left: rem(21);
		}
		&:hover {
			color: $primary;
			div {
				color: $primary;
			}
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			span {
				right: rem(-5);
				@include media-breakpoint-up(md) {
					right: rem(4);
				}
			}
		}
		svg {
			font-size: rem(28);
			fill:none;
			stroke: currentColor;
			stroke-width: 1.6;
		}
		div {
			color: $secondary;
			font-size: rem(12);
			font-weight: $font-weight-semibold;
			line-height: 150%;
			margin-top: rem(1);
			@include mt;
			display: none;
			@include media-breakpoint-up(md) {
				display: block;
			}
		}
		span {
			position: absolute;
			top: 0;
			right: rem(-7);
			font-size: rem(12);
			font-weight: $font-weight-semibold;
			line-height: 150%;
			@include media-breakpoint-up(md) {
				right: rem(11);
			}
		}
	}

	&__show-search {
		margin-left: auto;
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine

.dropdown-block{ 
	&__toggle{
		cursor: pointer;
	}
		position: relative; 
		&:hover {
			--op: 1;
			&> ul{
			} 
			.top-nav__catalog-btn {
				.icon {
					transform: translateY(-50%) scaleY(-1);
				}
			}
		} 
		&__block{ 
			
			z-index: 2200;
			// display: var(--db);
			background-color: $white;
			// column-count: 2;
			position: absolute;
			top: 100%;
			@include media-breakpoint-up(sm) {
				right: auto;
				left: 0;
			}
			right: 0;
			width: max-content;
			@include mt;
			padding-top: 6px;
			padding-bottom: 8px;
			// padding-left: 5px;
			// padding-right: 5px;
			border-radius: 6px;
			background: #FFF;
			box-shadow: 0px 4px 20px 0px rgba(150, 159, 168, 0.12);
			opacity: var(--op, 0);
			visibility: var(--op, hidden);
		}
		ul {
			list-style: none;
			padding-left: 0;
			padding: 0;
			margin: 0;
		}
		li {
			margin-bottom: rem(8);
			position: relative;
			// padding-right: 34px;
			// padding-left: 34px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			padding: rem(2) rem(20); 
			display: block;
			font-size: rem(14);
			color: $body-color;
			align-items: center; 
			display: inline-flex;
			min-height: rem(30);
			align-items: center;
			&:hover {
				color: $primary;
				font-weight: bold;
			}
		}
		picture {
			img {
				max-width: 78px;
				max-height: 68px;
			}
		} 
}