.menu{
	margin: 0;
	padding-left: 0;
	@media (min-width: 992px) {

		display: flex;
		text-align: center;
		@include roww(30px);
		flex-wrap: wrap;
	}

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
		position: relative;
	}
	a{
		display: block;
		padding: rem(6) rem(10);
		font-size: rem(14);
		font-weight: $font-weight-semibold;
		line-height: 150%;
		@include media-breakpoint-up(xl) {
			padding: rem(6) rem(16.5);
		}
	}
}

.menu-item-has-children:hover {
	&> .sub-menu{
		display: block;
	}
	&> a{
		&::after{
			content: var(--chevron-down-color);
		}
	}
}
.menu-item-has-children > a{
	// display: inline-flex;
	// align-items: center;
	padding-right: 28px;
	position: relative;
	&::after{
		content: var(--chevron-down);
		position: absolute;
		right: 0;
		@include a-cent1(y);
		// margin-left: 2px;
	}
	
}

.sub-menu{
	padding-left: 20px;
	@media (min-width: 992px) {
		padding-left: 0;
		display: none;
		position: absolute;
		top: 100%;
		z-index: 20;
		left: 0;
		// background: #352D29;
		// padding-top: rem(18);
		min-width: 250px;
		text-align: left;
	}
}
@media (max-width: 991.92px) {
.toggle-menu-mobile {
	--h: #{em(2)};
	--color: #{$primary};
	--position: calc(var(--h) * 2);
	&.on span {
		--color: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h)* 12);
	position: relative; 
	font-size: 32px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}


	

	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		max-width: 85%;
		height: calc(var(--vh, 1vh) * 100);
		width: 280px;
		top: 0;
		// left: 0;
		right: 0;
		background: $body-color;
		&:not(.active){
			transform: translate3d(120%, 0,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;

		
		.toggle-menu-mobile { 
			margin-left: -15%;
			position: absolute; 
			left: 0;
			right: auto;
			color: #FFF;
			top: 10px;
			z-index: 9999; 
			span:after,
			span:before {
				--color: #ffffff;
			}
		}
		&__inner {
			padding: rem(20) 0;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			@include mt(.3s);
			transition-delay: .4s;
			opacity: var(--opacity);
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}


		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .13);

			a {
				// font-size: 16px;

				padding: 10px;
				display: block;
				color: $white;

			}
		}
		.topLine{
			background: none;
			padding-left: rem(10);
			padding-top: 20px;
			&__phone {
				color: white;
				display: block;
				margin-bottom: rem(15);
			}
			&__btn {
				color: white;
			}
		}
	}
}

.mb-2{
	margin-bottom: 1rem;
}