mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row.roww
				.col-lg-auto.col
					+b.catalog-block
						+e.toggle
							+e.gumburger
								span
							| Каталог
						ul.main-ul
							li.close-ul.d-lg-none.text-body 
								.catalog-block__gumburger.on
									span
							
								| Закрыть
							mixin item(i,t)
								li.has-children
									a(href="#")
										!=t
									//- .dropdown-menu-second
									ul
										li
											a.dropdown-item(href='catalog/plita/oblicovochnye-plity') Облицовочные плиты
										li
											a.dropdown-item(href='catalog/plita/plita-moshheniya') Плиты мощения
										li
											a.dropdown-item(href='catalog/taktilnye-plity') Тактильные плиты
							+item(1,`Облицовочные плиты`)
							+item(2,`Плиты мощения`)
							+item(3,`Брусчатка`)
							+item(4,`Ступени`)
							+item(5,`Бордюры`)
							+item(6,`Пандусы`)
							+item(7,`Архитектурные изделия`)

				.col-lg.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()

				+e.col.col-auto
					+e.beware.d-flex.align-items-center
						+img('img/beware.svg')
						span Остерегайтесь подделок
					
				.col-auto.d-lg-none
					+menu-toggle()
	// end top-nav