.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary); 
	// 
	// background: #352D29;
	padding-top: rem(12);
	padding-bottom: rem(12);
	@media (min-width: 992px) {  

		position: relative;
		z-index: 900;
	}
	.roww{
		--bs-gutter-x: 30px;
	}
	color: $body-color;
	&__link{
		color: $body-color;
		font-size: 13px;
		text-align: center;
		display: inline-block;
		.icon{
			font-size: 24px;
		}
	}
	a{
		color: $body-color;
		&:hover{
			color: $primary;
		}
	}
	.row{
		align-items: center;
	}
	.form-wrap {
		flex-grow: 1;
		margin-top: rem(9);
		display: none;
		&.active {
			display: block;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
		@include media-breakpoint-up(sm) {
			&.active {
				display: none;
			}
		}
		form {
			width: 100%;
			position: relative;
		}
	}
	.form-wrap__input-wrap {
		flex-grow: 1;
	}
	.form-wrap__input {
		border: none;
		background: #F3F3F4;
		outline: none;
		font-weight: $font-weight-semibold;
		font-size: rem(14);
		line-height: 150%;
		border-radius: $border-radius;
		&::placeholder {
			color: $secondary;
		}
	}
	.form-wrap__btn {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		.icon2 {
			font-size: rem(28);
		}
	}
	&__text {
		margin-bottom: rem(30);
		color: $secondary;
		font-size: rem(14);
		font-weight: $font-weight-semibold;
		line-height: 150%;
	}
	&__offer {
		margin-bottom: rem(2);
		font-size: rem(14);
		font-weight: $font-weight-semibold;
		line-height: 150%;
		color: $white;
		margin-bottom: rem(7);
	}
	&__col{
		position: relative;
	}
	&__icon-wrap{
		position: relative;
		display: inline-block;
	}
	&__count{
		width: 16px;
		height: 16px;
		border-radius: 50%;
		position: absolute;
		right: -6px;
		top: 0;
		font-size: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $primary;
	}
	&__beware {
		color: $primary;
		font-size: rem(14);
		font-weight: $font-weight-semibold;
		line-height: 150%;
		span {
			margin-left: rem(6);
		}
	}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
	.container{
		position: relative;
	}
}



.catalog-block{
	position: relative;
	
	font-size: rem(14);
	
	&__toggle{
		@extend .btn,  .btn-primary; 
		font-weight: $font-weight-semibold;
		font-size: rem(14);
		padding: rem(8) rem(16) rem(11);
		// padding-left: rem(44);
		// border-radius: 0;
		// display: inline-block;
		display: inline-flex;
		align-items: center;
		&:hover {
			background-color: var(--bs-btn-hover-bg);
			border-color: var(--bs-btn-hover-border-color);
			color: var(--bs-btn-hover-color);
		}
	}
	&__gumburger{
		margin-right: rem(7);
		--h: #{rem(2)};
		--color: $body-color;
		--position: calc(var(--h) * 3);
		&.on span {
			--color: transparent;
		}
	
		&.on  { 
			--position: 0; 
			--rotate: 45deg;
		}
		display: block;
		height: calc(var(--h)* 12);
		position: relative; 
		font-size: 20px;
		width: 1em;
		cursor: pointer;
		span:after,
		span:before {
			content: "";
			position: absolute;
			left: 0;
			border-radius: 10px;
		} 
		span {
			@include a-cent(y);
			display: block;
		}
	
		span:before { 
			top: var(--position);
			transform: rotate3d(0,0,1, var(--rotate, 0));
		}
	
		span:after {
			bottom: var(--position);
			transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
		}
		span,
		span:after,
		span:before {
			// width: 32px;
			width: 1em;
			height: rem(1.5);
			background-color: $white;
			transition: all 0.3s;
			backface-visibility: hidden; 
			transform-origin: 50% 50%;
		} 
	}
}
	.toggle-menu-js{
		padding-left: rem(20);
		color: $secondary;
		font-size: 14px;
		padding-bottom: 15px;
		// text-transform: uppercase;
		.icon{
			font-size: 1rem;
			fill: none;
			stroke: currentColor;
			stroke-width: 1.6;
		}

	}
.catalog-block{
	position: relative;
	// background: $primary;
	border-radius: $border-radius;
	color: $white;
	a,
	span{
		color: $body-color;
	}
	// --op: 1;
	// --op1: 1;
	@include media-breakpoint-up(sm) { 
		&:hover{
			--d: block;
			&::after{
				content: '';
				width: 150%;
				top: 50%;
				left: 0;
				height: 150%;
				position: absolute;
			}
			// --op1: 1;
		}
	} 

	&__block{
		@include media-breakpoint-up(sm){
			
			top: calc(100% + 12px + .75rem);
			position: absolute;
			display: var(--d, none);
			transform-origin: top ;
			width: 220px;
			
		}
		@include media-breakpoint-down(sm){
			height: 100%;
			padding: calc(env(safe-area-inset-top, 0px) + #{rem(20)}) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(20)});
			overflow-y: auto;
			&:not(.active){

				transform: translateX(calc(100% + 40px));
				
			}
		}
		background-color: #fff;
		width: 100%;
		top: 0;
		position: fixed;
		left: 0;
		z-index: 100;
		@include mt;
		ul{
			margin: 0;
		}
		>ul> li {

			background: #fff;
			display: block;
			@include media-breakpoint-down(sm){
			position: relative;
			}
			.toggle-sub-nav{
				z-index: -1;
				display: none;
				@include media-breakpoint-down(sm){
					@include a-cent;
				z-index: 2;
				display: block;
				opacity: 0;
				}
			}
			@include media-breakpoint-down(sm){
			}
			&> span,
			&> a{
				padding: rem(12) rem(20);
				font-size: 14px;
				color: $body-color;
				background-color: #fff;
				border-left: 1px solid #000;
				height: 44px;
				display: flex;
				align-items: center;
				border-left: 3px solid #fff;
				z-index: 4;
				// color: $primary;
			@include media-breakpoint-down(sm){
				// pointer-events: none;
			}
				&:last-child > a{
					border-radius: 0 0 6px 6px;
				}
			}
			&:hover{
				&::after{
				content: '';
				width: 30px;
				top: 0;
				left: 100%;
				height: 100%;
				position: absolute;
			}
				&>span,
				&>a{
					color: $primary;
					background: rgba(227, 6, 17, 0.05);
					border-color: $primary;
					font-weight: bold;

				}
				--d1: block;
			}
		}
	}
	ul ul{
		@include mt;
		@include media-breakpoint-up(xxl) {
			--w: 1060px;
		}
		
		@include media-breakpoint-up(xl) {
			--w: 887px;
			columns: 5;
		}
		
		@include media-breakpoint-up(lg) {
			--w: 708px;
			columns: 4;
		}
		@include media-breakpoint-up(md) {
			--w: 470px; 
		}
		@include media-breakpoint-up(sm) {
			--w: 288px;
			// columns: 2;
			display: var(--d1, none);
			position: absolute;
			left: calc(100% + 10px);
			width: var(--w);
			z-index: -1;
			padding: 15px 30px;
		}
		
		@include media-breakpoint-down(sm) {
			.toggle-menu-js{
				padding-left: 0;
			}
			&:not(.active){

				transform: translateX(calc(100% + 40px));
				
			}
		}
		padding: calc(env(safe-area-inset-top, 0px) + #{rem(30)}) 15px calc(env(safe-area-inset-bottom, 0px) + #{rem(30)});
		z-index: 3;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 6px;
		background: #FFF;
		box-shadow: 0px 4px 20px  rgba(150, 159, 168, 0.12);


		
		overflow-y: auto;
		li{
			font-size: 14px;
			margin-bottom: 15px;
		}
	}
}