mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row.roww
				.col-lg-auto.col
					+b.catalog-block.d-inline-block.hidden-block-js
						+e.toggle
							+e.gumburger
								span
							| Каталог
						+e.block
							.d-sm-none.toggle-menu-js.toggle-menu-main-js
								+icon("chevron-left")
								| назад
							ul.main-ul
								mixin item(t)
									li.has-children
										a(href="#")
											!=t
										//- .dropdown-menu-second
										ul
											li.d-sm-none: .toggle-menu-js
												+icon("chevron-left")
												| назад
											li: a.dropdown-item(href='#') Riva
											li: a.dropdown-item(href='#') Style
											li: a.dropdown-item(href='#') Nova S
											li: a.dropdown-item(href='#') Slim System
											li: a.dropdown-item(href='#') Estetica
											li: a.dropdown-item(href='#') Metal System
											li: a.dropdown-item(href='#') Fit кухня
											li: a.dropdown-item(href='#') Concept
											li: a.dropdown-item(href='#') Locker Plus
											li: a.dropdown-item(href='#') Loft
											li: a.dropdown-item(href='#') Mobile System
											li: a.dropdown-item(href='#') X-Pull
											li: a.dropdown-item(href='#') R-Line
											li: a.dropdown-item(href='#') R-Line Soft
											li: a.dropdown-item(href='#') Колл-центр
											li: a.dropdown-item(href='#') Колл-центр Bell
											li: a.dropdown-item(href='#') Maris шкафы-купе
											li: a.dropdown-item(href='#') Move Up
											li: a.dropdown-item(href='#') Onix
											li: a.dropdown-item(href='#') Onix Wood
											li: a.dropdown-item(href='#') Quattro 4x4
											li: a.dropdown-item(href='#') Quattro 5x5
											block
								+item(`Мебель для персонала`) 
								+item(`Кабинеты руководителей`) 
									li: a.dropdown-item(href='#') R-Line
									li: a.dropdown-item(href='#') R-Line Soft
									li: a.dropdown-item(href='#') Колл-центр
								+item(`Переговорные зоны`) 
								+item(`Мебель для персонала`) 
									li: a.dropdown-item(href='#') R-Line
									li: a.dropdown-item(href='#') R-Line Soft
									li: a.dropdown-item(href='#') Колл-центр
								+item(`Приемные зоны`) 
								+item(`Для дома и гостинец`) 
									li: a.dropdown-item(href='#') R-Line
									li: a.dropdown-item(href='#') R-Line Soft
									li: a.dropdown-item(href='#') Колл-центр
									li: a.dropdown-item(href='#') R-Line
									li: a.dropdown-item(href='#') R-Line Soft
									li: a.dropdown-item(href='#') Колл-центр
								+item(`Кресла Riva Chair`) 
								+item(`Мягкая мебель`) 
								+item(`Мебель для залов суда`) 
								+item(`Металическая мебель`) 

				.col-lg.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
							+b.topLine.d-lg-none
								.container 
										.mb-2
											.top-nav__beware.d-flex.align-items-center
												+img('img/beware.svg')
												span Остерегайтесь подделок

										.mb-2 
											.top-nav__text Ежедневно, с 09:00 до 21:00
											.top-nav__offer Бизнес-центр «Тушино»
											.top-nav__text Походный проезд, д. 4, корп. 1, офис 412, 4-й этаж
											
										.mb-2
											+e.item.d-flex.align-items-center 
												+img('img/mail.svg')
												+e.item-text info@riva.ru
										.mb-2
											+socChosen('telegram2', 'whatsapp2')

										.mb-2
											+e(href="tel:+7 (495) 642-70-97").phone +7 (495) 642-70-97

										.mb-2
											+e(href="#").btn Заказать звонок

				+e.col.col-auto.d-none.d-sm-flex
					+e.beware.d-flex.align-items-center
						+icon2('beware')
						span Остерегайтесь подделок
					
				.col-auto.d-lg-none
					+menu-toggle()

			+form-wrap.form-wrap--mob
				+input("Поиск товаров", 'text')
				+e.btn.btn(type="submit")
					+icon2('search')
	// end top-nav