mixin sFaq(data)
	// start sFaq
	+b.SECTION.sFaq.section#sFaq&attributes(attributes)
		.container
			+b.section-title
				h3 Вопросы и ответы
			+ddGroup
				+ddGroupItem('Сколько стоит доставка?', 'active')
					p Стоимость доставки по&nbsp;Москве 1700&nbsp;руб.&nbsp;в&nbsp;пределах МКАД, за&nbsp;пределами 45&nbsp;руб./км. Доставка в&nbsp;другие города производится транспортной компанией ПЭК или любой другой на&nbsp;ваш выбор, стоимость доставки рассчитывается индивидуально.
				+ddGroupItem('Где можно посмотреть товар?')
					p Стоимость доставки по&nbsp;Москве 1700&nbsp;руб.&nbsp;в&nbsp;пределах МКАД, за&nbsp;пределами 45&nbsp;руб./км. Доставка в&nbsp;другие города производится транспортной компанией ПЭК или любой другой на&nbsp;ваш выбор, стоимость доставки рассчитывается индивидуально.
				+ddGroupItem('Я дизайнер. Могу ли я получить скидку?')
					p Стоимость доставки по&nbsp;Москве 1700&nbsp;руб.&nbsp;в&nbsp;пределах МКАД, за&nbsp;пределами 45&nbsp;руб./км. Доставка в&nbsp;другие города производится транспортной компанией ПЭК или любой другой на&nbsp;ваш выбор, стоимость доставки рассчитывается индивидуально.
				+ddGroupItem('Есть ли гарантия на заказ?')
					p Стоимость доставки по&nbsp;Москве 1700&nbsp;руб.&nbsp;в&nbsp;пределах МКАД, за&nbsp;пределами 45&nbsp;руб./км. Доставка в&nbsp;другие города производится транспортной компанией ПЭК или любой другой на&nbsp;ваш выбор, стоимость доставки рассчитывается индивидуально.
				+ddGroupItem('Как я могу оплатить заказ?')
					p Стоимость доставки по&nbsp;Москве 1700&nbsp;руб.&nbsp;в&nbsp;пределах МКАД, за&nbsp;пределами 45&nbsp;руб./км. Доставка в&nbsp;другие города производится транспортной компанией ПЭК или любой другой на&nbsp;ваш выбор, стоимость доставки рассчитывается индивидуально.
				+ddGroupItem('Какие услови возврата товара?')
					p Стоимость доставки по&nbsp;Москве 1700&nbsp;руб.&nbsp;в&nbsp;пределах МКАД, за&nbsp;пределами 45&nbsp;руб./км. Доставка в&nbsp;другие города производится транспортной компанией ПЭК или любой другой на&nbsp;ваш выбор, стоимость доставки рассчитывается индивидуально.
	// end sFaq