 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}

.project {
	@include mt;
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
	&__img-slider {
		position: relative;
		overflow: hidden;
		margin-bottom: 16px;
		z-index: 11;
	}
	&__content {
		height: 100%;
    display: flex;
    flex-direction: column;

		// padding: rem(37) rem(21) rem(41);
	}
	&__img-wrap {
		@include block(213, 275);
	}
	&__img-slider {
		padding-bottom: rem(10);
		margin-bottom: 0;
		position: relative;
		border-radius: $border-radius;
		overflow: hidden;
		.bg-wrap {
			border-radius: $border-radius;
			overflow: hidden;
		}
	}
	.swiper-pagination {
		bottom: 0;
		@include media-breakpoint-up(sm) {
			height: 100%;
		}
		&-bullet {
			position: relative;
			width: 20px;
			// height: 2px;
			margin: 0 3.5px;
			background-color: transparent;
			border-radius: 0;
			@include media-breakpoint-up(sm) {
				height: 100%;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 20px;
				height: 2px;
				background-color: #cdcdcd;
				border-radius: 1px;
				left: 0;
				bottom: 0;
			}
			&-active {
				background-color: transparent;
				&:before {
					background-color: $secondary;
				}
			}
			&:hover {
				pointer-events: none;
				z-index: -1;
			}
		}
	}
	&__title {
		@include mt;
		color: $body-color;
		font-weight: $font-weight-semibold;
		font-size: rem(14);
		line-height: rem(21);
		text-decoration: none;
		margin-left: rem(10);
		&:hover {
			text-decoration: underline;
			color: $primary;
		}
		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	display: block;
		// 	width: 100%;
		// 	height: 100%;
		// 	left: 0;
		// 	top: 0;
		// 	z-index: 10;
		// }
	}
	.text {
		background-color: #fff;
	}
}
