 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon2{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.content {
	@include media-breakpoint-up(xl) {
		margin-left: rem(-30);
	}
}




.addBlock{
	color: var(--color, #{$body-color});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	align-items: center;
	width: 140px;
	height: 44px;
	border-radius: 6px;
	border: 1px solid var(--e-8-e-8-e-9, #E8E8E9);
	padding-left: 12px;
	padding-right: 12px;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
		flex-grow: 1;
		width: rem(40);
		outline: none !important;
	}
	&__btn{
		color: inherit;
		width: rem(22);
		height: rem(22);
		flex:  0 0 auto;
		padding: 0;
		display: block;
		position: relative;
		border-radius: 40px;
		background: none ; 
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		color: #a1a2a6;
		border: 1.6px solid ;
		@include mt;
		&:hover{
			color: #fff;
			background-color: #a1a2a6;
			border-color: #a1a2a6;
		}
		// padding-left: rem(8);
		// padding-right: rem(8); 
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
	font-size: rem(12);
	font-weight: $font-weight-semibold;
	color: $body-color;
	&.active {
		color: $secondary;
	}
}

.cat{
	.section {
		padding-top: rem(10);
	}
}

.project-item {
	@include mt;
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
	text-decoration: none !important;
	&__wrap{
		position: relative;
		display: block;
	}
	&__img-slider {
		position: relative; 
		margin-bottom: 16px;
		z-index: 11;
	}
	&__content {
		height: 100%;
    display: flex;
    flex-direction: column;

		// padding: rem(37) rem(21) rem(41);
	}
	&:not(:hover){

		color: $body-color;
	}
	&__title { 
		font-weight: $font-weight-semibold;
		text-decoration: none;
		margin-left: rem(10);
		font-size: rem(14);
		line-height: rem(21);
	}
	.text {
		background-color: #fff;
	}
}


.card-slider{
	position: relative;
	margin-bottom: rem(10);
	&__img-wrap {
		@include block(275, 213);
	}
	&__img-slider {
		padding-bottom: rem(10);
		margin-bottom: 0;
		position: relative;
		border-radius: $border-radius;
		overflow: hidden;
		.bg-wrap {
			border-radius: $border-radius;
			overflow: hidden;
		}
	}
	.swiper-pagination {
		bottom: 0;
		display: flex;
		@include media-breakpoint-up(sm) {
			height: 100%;
		}
		&-bullet {
			position: relative;
			width: 20px;
			// height: 2px;
			margin: 0 3.5px;
			flex-grow: 1;
			background-color: transparent;
			border-radius: 0;
			@include media-breakpoint-up(sm) {
				height: 100%;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #cdcdcd;
				border-radius: 1px;
				left: 0;
				bottom: 0;
			}
			&-active {
				background-color: transparent;
				&:before {
					background-color: $secondary;
				}
			}
			&:hover {
				pointer-events: none;
				z-index: -1;
			}
		}
	}
}

.page-head{
	margin-bottom: rem(20);
	h1{
			font-weight: 600;
	}
}

.rating {
	margin: 0 0 1em 0;
	padding: 0;
	border: none;

	/* Caption */

	&__caption {
		margin-bottom: 0.5em;
		padding: 0;
	}

	/* Group */

	&__group {
		position: relative;
		width: rem(140);
		height: rem(28);
		background-image: url("data:image/svg+xml,%3Csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0164 0L17.905 8.66415L27.3468 9.68509L20.3083 16.0608L22.255 25.3559L14.0164 20.6321L5.77776 25.3559L7.72445 16.0608L0.686011 9.68509L10.1278 8.66415L14.0164 0Z' fill='%23E8E8E9'/%3E%3C/svg%3E%0A");
		background-size: rem(28);
		background-repeat: repeat-x;
	}

	/* Input */

	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}

	&__input:focus ~ &__focus {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		// outline: 0.2em solid #4a90e2;
		// outline-offset: 0.2em;
	}

	/* Star */

	&__star {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		height: rem(28);
		background-size: rem(28);
		background-repeat: repeat-x;
		margin-right: 12px;
	}

	&__star:hover,
	&__input:checked + &__star {
		background-image: url("data:image/svg+xml,%3Csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0164 0L17.905 8.66415L27.3468 9.68509L20.3083 16.0608L22.255 25.3559L14.0164 20.6321L5.77776 25.3559L7.72445 16.0608L0.686011 9.68509L10.1278 8.66415L14.0164 0Z' fill='%23FED42B'/%3E%3C/svg%3E%0A");
	}

	&__star:hover ~ &__star {
		background-image: url("data:image/svg+xml,%3Csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0164 0L17.905 8.66415L27.3468 9.68509L20.3083 16.0608L22.255 25.3559L14.0164 20.6321L5.77776 25.3559L7.72445 16.0608L0.686011 9.68509L10.1278 8.66415L14.0164 0Z' fill='%23E8E8E9'/%3E%3C/svg%3E%0A");
	}

	/* Options */

	&__star:nth-of-type(1) {
		z-index: 5;
		width: rem(28);
	}

	&__star:nth-of-type(2) {
		z-index: 4;
		width: calc(rem(28) * 2);
	}

	&__star:nth-of-type(3) {
		z-index: 3;
		width: calc(rem(28) * 3);
	}

	&__star:nth-of-type(4) {
		z-index: 2;
		width: calc(rem(28) * 4);
	}

	&__star:nth-of-type(5) {
		z-index: 1;
		width: calc(rem(28) * 5);
	}
}

.dd-group {
	&__content {
		display: none;
		&.active {
			display: block;
		}
	}
}

.tags {
	padding-top: rem(16);
	padding-bottom: rem(15);
	.row {
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(10)};
	}
	&__col {
		// max-width: calc(rem(160) + var(--bs-gutter-x));
		@media (max-width: 340px) {
			width: 100%;
		}
		@include media-breakpoint-up(lg) {
			width: 100%;
			max-width: calc(rem(162) + var(--bs-gutter-x));
		}
	}
	&__tag {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(4) rem(4);
		border-radius: 6px;
		border: 1px solid $light;
		color: #000;
		text-align: center;
		line-height: 1.5;
		height: 100%;
		min-height: rem(58);
		font-size: rem(14);
		&:hover,
		&.active {
			border-color: $primary;
		}
	}
}