mixin sProductExamples(title)
	// start sProductExamples
	+b.SECTION.sProductExamples.section#sProductExamples&attributes(attributes)
		.container
			+b.section-title
				h2!= title
			+e.row.row
				.col-xl-3.col-lg-4.col-sm-6
					+product-item(`8`,``,``,``)
				.col-xl-3.col-lg-4.col-sm-6
					+product-item(`8`,``,``,``)
				.col-xl-3.col-lg-4.col-sm-6
					+product-item(`8`,``,``,``)
				.col-xl-3.col-lg-4.col-sm-6
					+product-item(`8`,``,``,``)
						.col-auto
							+e.btn(type="button").btn.btn-outline-primary
								+icon("cart")
								| В корзину
						+e.status.col Нет в наличии
	// end sProductExamples