mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			+icon2(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			each soc in social
				+item-sos(soc)

mixin socChosen(...items)
	+b.soc 
		if block 
			block
		else 
			-for (var i = 0; i < items.length; i++)
				+item-sos(items[i])
//- /social buttons 